<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Måltider</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <div class="klasse">
    <h1>Måltider</h1>
    <p>Middag fredag = {{middagfredag}}</p>
    <p>Kvelds fredag = {{kveldsfredag}}</p>
    <p>nattmat = {{nattmat}}</p>
    <p>Frokost lørdag = {{frokostlørdag}}</p>
 </div>
</body>
</html>

