<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ditt ønske er registrert</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <div class="innhold" style="padding-bottom: 400px">
        <h1>Takk for ønskelisten</h1>
        
        <p>{{name}}, Du har vært snill i år!</p>
        
        <p>Riktig god jul!</p>
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/facebook/327/santa-claus_1f385.png" width="200" height="200">
    </div>
     {{> fremsideknapp}}
</body>
</html>
