<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ditt ønske er registrert</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <div class="innhold" style="padding-bottom: 400px">
        <h1>Takk for ønskelisten</h1>
        
        <p>Takk for ønskelisten {{name}}, Den går nok i bosset etterhvert, da jeg nok vet at du har vært skikkelig slem i år! </p><br>
        <p>Ha en bedragelig jul!</p>
        
        <img src="https://icons.iconarchive.com/icons/icons-land/multiple-smiley/256/Santa-Claus-Angry-icon.png" width="200" height="200">
    </div>
     {{> fremsideknapp}}
</body>
</html>
